# Auto detect text files and perform LF normalization
* text=auto
reportrepair/data/input.txt filter=lfs diff=lfs merge=lfs -text
password_philosophy/data/input.txt filter=lfs diff=lfs merge=lfs -text
toboggan_trajectory/data/input.txt filter=lfs diff=lfs merge=lfs -text
